body {
  background: #ebebeb;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

.body-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 120px;
  overflow-y: auto;
  transition: 0.3s ease;
}

.plt-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.body-container.shown {
  margin-right: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hardware-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.plt-container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container{
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.add-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: -160px;
  transition: 0.3s ease-in;
}

.add-container.shown {
  margin-bottom: 0;
}

.add-container .col {
  margin-bottom: 12px;
}

.add-container .add-bar {
  display: flex;
  width: calc(100vw - 40px);
  height: 160px;
  background: #fff;
  box-shadow: 0 -5px 16px rgba(0,0,0,0.15);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  align-items: center;

}

.add-container .add-bar .button {
  height: 30px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.shadow--sm {
  box-shadow: 0px 25px 15px -25px #97a3b8;
}
.shadow--sm:hover {
  box-shadow: 0px 10px 10px -10px rgba(151, 163, 184, 0.5);
}
.shadow--md {
  box-shadow: 0px 25px 25px -25px #97a3b8;
}
.shadow--md:hover {
  box-shadow: 0px 10px 20px -10px rgba(151, 163, 184, 0.5);
}
.shadow--lg {
  box-shadow: 0px 25px 35px -25px #97a3b8;
}
.shadow--lg:hover {
  box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}

.card, .card1 {
  background: white;
  width: 220px;
  border-radius: 1rem;
  margin: 1rem auto;
  transition: all .2s ease-in;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

}

.card {
  height: 220px;
  margin-right: 15px;
}

.card1 {
  height: 100px;
}

.card--text {
  font-size: 14px;
  font-weight: thin;
  color: #fff;
  margin: 5px;
}
.card--size-state {
  font-weight: 700;
  color: #fff;
  font-size: 32px;
}
.card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.card1:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

p{
  font-size: 50px;
}

.card--size-state1 {
  font-weight: 700;
  color: #000;
  font-size: 27px;
}

.card1.button {
  height: auto;
  width: 150px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.15);
  padding: 4px 0;
}

.card1.button .card--text {
  font-weight: normal;
  font-size: 16px;
  border-radius: 20px;
}

input{
  border-radius: 5px;
  width: 250px;
  height: 40px;

}


.ip-port-input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-right: 15px;
  border: 1px solid #ffafbd;
  background: linear-gradient(to right, #ffebee, #ffeade);
}

.ip-port-input .splitter {
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  font-size: 12px;

}

.ip-port-input .ip,
.ip-port-input .port {
  text-align: center;
  background: transparent;
  border: none;
}

.ip-port-input .port {
  width: 50px;
}

.ip-port-input .ip {
  width: 125px;
}

input:focus {
  outline: 0;
}

.add-button{
  background-color: #000;
  border: none;
  color: white;
  color: #fff;
  outline: none;
  font-size: 30px;

}

.boton{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffafbd;
  color: #ffafbd;
  transition: 0.3s ease;
  cursor: pointer;
}

.boton:hover {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: white;
}

.nombre{
  outline: none;
  margin-right: 15px;
  border: none;
  border: 1px solid #ffafbd;
  background: linear-gradient(to right, #ffebee, #ffeade);
  text-align: center;
}

.text-freq{
  outline: none; 
  border: none;
  margin-top: 8px;
  width: 80%;
  height: 28px;
  border: 1px solid #ffafbd;
  background: #ffebee;
  text-align: center;
}

.text-freq:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.card--text .card--size-state1 .margen {
  margin: 15px auto;
}

.page-plt{
  background: #ebebeb;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  margin-left: -100%;
  transition: 0.3s ease;
}

.page-plt.shown {
  margin-left: 0;
}

.page-plt-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.flip-card-3D-wrapper{
  width: 250px;
  height: 240px;
  position: relative;
  max-width: 450px;
  max-height: 550px;
  -webkit-perspective: 900px;
  perspective: 900px;
}

.flip-card{
  width: 100%;
  height: 100%;
  text-align: center;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip{
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-turn-back, .flip-turn-front {
  outline: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 60px;
  background: #000;
  cursor: pointer;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 0;
  color: grey;
  border: none;
  opacity: 0.5;
  border-bottom-left-radius: 12px; 
  border-bottom-right-radius: 12px;
  transition: 0.3s ease;
}

.flip-turn-front:hover{
  background: white;
  color: black;
}

.flip-turn-back:hover{
  background: white;
  color: black;
}

.flip-card .flip-card-front, .flip-card .flip-card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}

.flip-card .flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to top right, #ff5f6d, #ffc371);
  border-radius: 12px;
}
.flip-card .flip-card-back {
  background: linear-gradient(to top left,  #ff5f6d, #ffc371);
  border-radius: 12px;
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.switch-container input {
  display: none;
}

.switch-container input:checked + label {
  background: linear-gradient(to right, #ec008c, #fc6767);
}

.switch-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 75px;
  background: #d6d6d6;
  border-radius: 15px; 
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  color: black;
  margin-top: 7px;
}

.switch-container label::after {
  content: "OFF";
  position: relative;
  right: -5px;
}

.switch-container input:checked + label::after {
  content: "ON";
  position: relative;
  left: -2px;
}

.switch-container label .indicator {
  display: flex;
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 12px;
  background: #000;
  left: 8px;
  transition: 0.3s ease;
}

.switch-container input:checked + label .indicator {
  left: calc(100% - 20px);
  background: #000;
}

.btn-modify-hardw{
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  align-items: center;
  background: #ffebee;
  margin-top: 12px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.btn-modify-hardw:hover{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: white;
}

.btn-control {
  border: none;
  outline: none;
  border-radius: 12px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 15px;
  background: white;
  box-shadow: 0 5px 8px rgba(0,0,0,0.15);
  margin-top: 2rem;
}

.btn-control:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.back-button-container {
  position: fixed;
  display: flex;
  width: 100%;
}