.switch-container input {
    display: none;
}

.switch-container input:checked + label {
    background: #2ecc71;
}

.switch-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 75px;
    background: #95a5a6;
    border-radius: 15px; 
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.switch-container label::after {
    content: "OFF";
}

.switch-container input:checked + label::after {
    content: "ON";
}

.switch-container label .indicator {
    display: flex;
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 8px;
    background: #6c797a;
    left: 3px;
    transition: 0.3s ease;
}

.switch-container input:checked + label .indicator {
    left: calc(100% - 17px);
    background: #27ae60;
}