body {
    margin: 0;
    background: #f5f5f5;

}

.wizard-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wizard-container .outer-wizard-body-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    background: white;
    overflow: hidden;
    box-shadow: 0 -8px 16px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.wizard-container .outer-wizard-body-container .wizard-body-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: left 0.3s ease, right 0.3s ease;
}

.wizard-container .outer-wizard-body-container .wizard-body-container.hidden {
    opacity: 0;
    visibility: hidden;
}

.wizard-container .outer-wizard-body-container .wizard-body-container.left {
    right: 100%;
    left: -100%;
}

.wizard-container .outer-wizard-body-container .wizard-body-container.right {
    left: 100%;
    right: -100%;
}

.wizard-container .wizard-actions-container,
.wizard-container .wizard-steps-container {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    justify-content: space-around;
}

.wizard-container .wizard-steps-container {
    position: relative;
    margin-bottom: 20px;
    justify-content: space-between;
}

.wizard-container .wizard-steps-container .wizard-steps-line {
    position: absolute;
    left: 2px;
    right: 2px;
    height: 4px;
    background: pink;
}

.wizard-container .wizard-steps-container .wizard-step {
    position: relative;
    display: flex;
    justify-content: center;
    background: pink;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: 0.2s ease;
}

.wizard-container .wizard-steps-container .wizard-step.selected {
    height: 40px;
    width: 40px;
}

.wizard-container .wizard-steps-container .wizard-step .wizard-step-title {
    position: absolute;
    top: 100%;
    width: max-content;
    opacity: 0;
    transition: 0.3s ease;
}

.wizard-container .wizard-steps-container .wizard-step.selected .wizard-step-title {
    opacity: 1;
}

.plt-cont {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.plt-label:hover {
    -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.transition {
    transition: all 0.3s ease-out;
}
.heading {
    text-align: center;
    font-size: 0.8em;
}
.center-align {
    width: 300px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: table;
    margin-top: -40px;
    margin-left: -150px;
}
input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}
.plt-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 56px;
    max-width: 150px;
    max-height: 56px;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    padding-top: 40px;
    transition: 0.3s ease;
    margin-top: 7px;
}

.cmp-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 27px;
    max-width: 50px;
    max-height: 27px;
    background-color: #454545;
    color: white; 
    border-radius: 8px; 
    transition: 0.3s ease;
    padding-top: 10px;
    margin-top: 7px;
}

input[type="radio"]:checked + .plt-label {
    background-color: #ee9ca7; 
}
input[type="radio"]:checked + .cmp-label {
    background-color: #ee9ca7; 
}

.previous{
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 -5px 8px rgba(0,0,0,0.15);
    width: 112px;
    height: 32px;
    outline: none;
}

.next{
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 -5px 8px rgba(0,0,0,0.15);
    width: 112px;
    height: 32px;
    outline: none;
}

.event-hardware {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 780px;
    max-height: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event-hardware-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: 180px;
    max-width: 780px;
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.event-hardware-cmp{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 780px;
    max-width: 780px;
    max-height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.event-hardware-cmp-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 780px;
    max-width: 780px;
    max-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-bottom: 10px;
}
.freq-value {
    border: 1px solid #ffafbd;
    border-radius: 8px;
    background: #ffebee;
    width: 130px;
    height: 35px;
    outline: none;  
    margin-right: 10px;
    text-align: center;
}
